.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.date-group {
    width: 248px;
    height: 40px;
    padding: 4px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 8px;

    .date-group-item {
      width: 80px;
      height: 30px;
      cursor: pointer;
    }

    .active-item {
      border-radius: 6px;
      background: rgba(240, 245, 255, 1);
      color: rgba(36, 98, 242, 1);
    }
}

.date-pre {
    height: 40px;
    width: 40px;
    border-radius: 8px 0px 0px 8px !important;
}

.date-next {
    height: 40px;
    width: 40px;
    border-radius: 0px 8px 8px 0px !important;
}

.date-show {
    font-size: 24px;
    font-weight: 700;
    color: rgba(38, 38, 38, 1);
    margin-left: 24px;
}

.event-group {
    background: transparent ;
}

.item-left {
    display: flex;
    background: #2462F2;
   align-items: center;
    padding: 3px 0 0 6px;
    border-radius: 2px;
    height: 8px;
    margin-left: 2px;
    margin-right: 4px;
    opacity: 1;
    width: 8px;
  }

.rbc-month-view {
    border: none;
}

.rbc-header {
    border: none !important;
    border-bottom: 1px solid #DDD !important;
}

.rbc-day-bg, .rbc-time-view, .rbc-time-header.rbc-overflowing, .rbc-day-slot .rbc-time-slot, .rbc-row-content {
    border: none !important;
}

.rbc-now, .rbc-time-header-content, .rbc-row-content, .rbc-row-bg, .rbc-row, .rbc-today, .rbc-off-range-bg {
    background: white !important;
}

.rbc-current-time-indicator {
    background-color: red !important;
}

.rbc-current {
    display: flex !important;
    flex-direction: row-reverse !important;
}

.rbc-current a {
    display: flex !important;
    text-align: right !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #2C64FA;
    border-radius: 50px;
    color: white !important;
    width: 26px !important;
    height: 26px !important;
}

.rbc-off-range {
    color: black !important;
}

.rbc-event {
    background-color: #f0f5ff !important; 
    color: black !important;
    border: none !important;
}

.rbc-event-label {
    display: none !important;
}